/* cursor */
[data-cursor-trail] {
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
}

/* loadder */
[data-loader-text] > div {
  overflow: hidden;
}

/* external links stagger */
a[data-stagger-link] {
  overflow: hidden;
}
a[data-stagger-link] span {
  text-shadow: 0px 1em 0px white;
  transition: ease 0.3s transform;
}
a[data-stagger-link]:hover span {
  transform: translateY(-101%);
  text-decoration: none;
}

/* about */
#about [data-hero] .word {
  overflow: hidden;
  display: flex;
}
#about [data-hero] .char {
  margin: 0px -0.7vw;
}
/* contact */
[data-contact] [data-contact-mail] > div {
  overflow: hidden;
}
[data-contact] [data-contact-mail] > div > div {
  text-shadow: 0px 1em 0px white;
  transition: ease 0.3s transform;
}
[data-contact]:hover [data-contact-mail] > div > div {
  transform: translateY(-101%) !important;
  text-decoration: none;
}
