*,
*:hover {
  /* cursor: none !important; */
}

.cursor {
  position: fixed;
  background-color: rgba(251, 63, 26, 1);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor.active {
  transform: scale(0);
}

.cursor-follower {
  position: fixed;
  background-color: rgba(251, 63, 26, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;

  font-size: 0px;
  color: rgba(28, 28, 28, 1);
  text-transform: uppercase;
}
.cursor-follower > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursor-follower.active {
  background-color: rgba(251, 63, 26, 1);
  transform: scale(3);
  font-size: 15px;
}
.cursor-follower.active.disabled {
  background-color: rgba(200, 200, 200, 1);
}
