.hover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 630px;
  height: 630px;
  z-index: 99;
  aspect-ratio: 1;
  transform-origin: center;
  background-color: rgba(251, 63, 26, 1);
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
}

img {
  filter: url('#pixelate') grayscale(1) contrast(1.3) brightness(0.8);
}

#pixelate-filter {
  height: 1px;
  width: 1px;
}
.issaemoji {
  line-height: 1.1;
  text-shadow: 1px 1px 1px black;
  filter: url('#pixelate') grayscale(1) contrast(1.3);
}
