[data-project]:hover [data-project-title] {
  opacity: 0.5 !important;
}
[data-project].active [data-project-title] {
  opacity: 0.1;
}

[data-project]:hover [data-project-content] {
  background-color: white;
}
[data-project].active [data-project-content] {
  display: block !important;
}
