<header class="sticky top-0 z-10 pt-10 grid grid-cols-1 gap-10 bg-[#0D0E12]" id="header">
  <div class="container flex gap-10 justify-between">
    <h1 class="grid grid-cols-1">
      <span class="text-[#ffffff]">Ivana H. Costa</span>
      <span>@nothingbutivana</span>
    </h1>
    <p class="grid grid-cols-1">
      <span>Digital designer & developer</span>
      <span>Portfolio / 2016 — 2022</span>
    </p>
    <div class="flex gap-10">
      <p class="grid grid-cols-1">
        <span>Available for freelance</span>
        <span>work and job opportunies</span>
      </p>
      <button class="flex gap-5 items-center">
        <span class="bg-[#22262F] text-[#ffffff] p-3 rounded-full">Get in touch with me</span>
        <span class="border-2 border-[#22C17C] rounded-full">
          {% image 'profile.jpg', 'Ivana H. Costa', '100vw', 'w-10 rounded-full p-1' %}
        </span>
      </button>
    </div>
  </div>
  <div class="container">
    <hr class="border-[#2B303B]/40">
  </div>
</header>