<header class="py-10 border-b" id="header">
  <div class="container flex gap-10 justify-between">
    <a href="/">
      <h1 class="grid grid-cols-1">
        <span class="font-bold">Ivana H. Costa</span>
        <span>@nothingbutivana</span>
      </h1>
      <nav>
        <ul class="flex gap-5">
          {% for item in menu %}
            <li>
              <a class="flex gap-2 items-center" href="{{ item.link }}" {% if item.disabled %}disabled{% endif %}>
                <span>
                  {{ item.text | safe }}
                  {% if item.text === 'Selected works' %}
                    <sup>{{ projectsLength }}</sup>
                  {% endif %}
                </span>
                {% if item.icon %}
                  {% svg item.icon, 'w-[1em] aspect-square' %}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </a>
  </div>
</header>