{% if about %}
  <section class="md:gap-0 md:pb-0 md:-mb-10" id="about">
    <div class="container" style="container-type: inline-size;">
      <h2 class="-ml-[1cqw] mt-[2cqw] uppercase text-[26cqw]">
        <div class="-mt-[11cqw] flex items-center">
          <span class="split">Front</span>
        </div>
        <div class="-mt-[11cqw] flex items-center justify-between">
          <span class="split">—end</span>
          <span class="split">///</span>
          <span>☻</span>
        </div>
        <div class="-mt-[11cqw] flex items-center">
          <span class="split">developer</span>
        </div>
      </h2>
    </div>
    <div class="container" style="container-type: inline-size;">
      <div class="ml-auto md:-mt-[46cqw] md:w-[40%] md:pr-10 lg:pr-20 text-[1.2em] md:text-[1.9cqw]" data-about="text">
        <p>
          I'm a Digital Designer and Web Developer specialized in front-end and currently based in São Paulo, Brazil with +7 years of experience building things for the web⤵
        </p>
      </div>
    </div>
  </section>
{% endif %}