{% if about %}
  <section id="about">
    <div class="container">
      <p>
        I'm a Digital Designer and Web Developer specialized in front-end and currently based in São Paulo, Brazil with +7 years of experience building things for the web.
      </p>
    </div>
  </section>
{% endif %}