{% if about %}
  <section class="md:gap-0 md:pb-0 md:-mb-10" id="about">
    <div class="container" style="container-type: inline-size;">
      <h2 class="-ml-[1cqw] mt-[2cqw] uppercase text-[26cqw]">
        <div class="-mt-[11cqw] flex items-center">
          <span>Front</span>
        </div>
        <div class="-mt-[11cqw] flex items-center justify-between">
          <span>—end</span>
          <span>///</span>
          <span>☻</span>
        </div>
        <div class="-mt-[11cqw] flex items-center">
          <span>developer</span>
        </div>
      </h2>
    </div>
    <div class="container" style="container-type: inline-size;">
      <p class="ml-auto md:-mt-[45cqw] md:w-[40%] md:pr-20 text-[1.2em] md:text-[1.9cqw]">
        I'm a Digital Designer and Web Developer specialized in front-end and currently based in São Paulo, Brazil with +7 years of experience building things for the web.
        <a class="underline hidden md:inline" href="{{ '/#selected-projects' | url }}">Keep scrolling⤵</a>
      </p>
    </div>
  </section>
{% endif %}