{% if contact %}
  <section id="contact">
    <div class="container">
      <div class="border-t"data-line></div>
    </div>
    <div class="container grid grid-cols-1 lg:grid-cols-4 gap-10" data-section-heading>
      <div class="lg:col-start-2 flex gap-3 items-center text-red">
        <span>✉</span>
        <span>Get in touch</span>
      </div>
      <div class="col-start-4 hidden lg:flex gap-3 items-center">
        <span>☺</span>
        <span>Drop a mail</span>
      </div>
    </div>
    <div class="container relative" style="container-type: inline-size;">
      <a class="relative block group overflow-hiddena" href="mailto:ivanahco@gmail.com" targe="_blank" data-contact>
        <div class="z-[1] pointer-events-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[150px] aspect-square rounded-full flex items-center justify-center text-black bg-white group-hover:bg-red shadow-2xl scale-[0.5] md:scale-[1]" data-contact-badge>
          <span class="text-[2em] leading-[1]">↗</span>
          <svg class="text-[35px] tracking-[12px] absolute w-[130px] aspect-square" width="300" height="300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
            <defs>
              <path id="criclePath" d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
            </defs>
            <g>
              <use xlink:href="#criclePath" fill="none"/>
              <text class="fill-black">
                <textPath xlink:href="#criclePath">Available from Jul'23 •</textPath>
              </text>
            </g>
          </svg>
        </div>
        <div class="grid grid-cols-1 lg:flex underline text-red text-[16cqw] lg:text-[9.5cqw] -tracking-[0.7cqw] leading-[1]" data-contact-mail>
          <div class="overflow-hidden">
            <div>ivanahco</div>
          </div>
          <div class="overflow-hidden">
            <div>@gmail.com</div>
          </div>
        </div>
      </a>
    </div>
  </section>
{% endif %}