<div class="hidden z-[1] fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 scale-[0.8] w-[80%] max-w-[500px] p-5 lg:p-10 bg-red text-black shadow-2xl" id="credits" data-modal="credits">
  <div class="flex justify-end border-b border-black/10 pb-5">
    <button class="p-3 rounded-full inline-flex gap-3 bg-black text-red shadow-2xl" data-action="modal-close">
      <span>✖</span>
      <span>Close</span>
    </button>
  </div>
  <div>
    <h3>Typography</h3>
    <p>
      Neue Montreal by <a class="underline" href="https://pangrampangram.com/products/neue-montreal" target="_blank">Pangram Pangram</a>.
    </p>
    <h3>Technical</h3>
    <p>
      Built using 11ty, Nunjucks, tailwindCSS, Webpack, GSAP & Lenis.
    </p>
    <h3>Colophon</h3>
    <ul>
      <li>Local Timezone (GMT-3 / UTC)</li>
      <li>Last Updated ({{ site.buildTime  | dateToFormat('MM.dd.yyyy') }})</li>
    </ul>
  </div>
</div>