<section class="h-[calc(100vh-105px)] py-10 flex flex-col gap-10 items-center justify-center" id="hero">
  <div class="container">
    <div>
      <div>Eu sou uma </div>
      <div>Desenvolvedora Web</div>
      <div> Criativa de</div>
      <div>Sao Paulo BR</div>
    </div>
  </div>
  <div class="container">
    <a href="#projects" data-action="scrolldown">
      {% svg 'arrow-down', 'w-[1em] aspect-square' %}
    </a>
  </div>
</section>

{# <div class="-z-[1] fixed bottom-0 left-1/2 translate-y-1/2 -translate-x-1/2 h-screen aspect-square bg-red-500 rounded-full pointer-events-none" data-radial></div> #}