<section class="py-10" id="hero">
  <div class="container">
    <h3 class="text-[4em]">
      Hello there 👋 I'm a Digital Designer and Web Developer (fronbt-end specialized 💻) based in São Paolo 📌 Brasil with 6+ years of experience in building things for the web 🌐
    </h3>
  </div>
</section>