<a class="inline-flex gap-3 items-center" href="{{ '/' | url }}">
  <h1 class="flex gap-3 md:gap-5 items-center">
    <span>{{ site.author }}</span>
    <span class="border-l border-current/50 pl-3 md:pl-5 opacity-50">{{ site.shortDescription }}</span>
  </h1>
</a>