<a class="inline-flex gap-3 items-center" href="{{ '/' | url }}" data-cursor="{{ 'Home' if full else 'Refresh' }}">
  <h1 class="flex gap-5 items-center">
    <span>{{ site.author }}</span>
    <span class="border-l border-white pl-5 opacity-50 hidden md:inline">{{ site.shortDescription }}</span>
  </h1>
</a>