{% if selectedProjects %}
  <section id="selected-projects">
    <div class="container">
      <div class="border-t" data-section-line></div>
    </div>
    <div class="container grid grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10" data-section-heading>
      <div class="hidden lg:block">
        <a class="inline-flex gap-3" href="{{ '#selected-projects' | url }}" data-link-anchor>
          <span>↘</span>
          <span>Scroll down</span>
        </a>
      </div>
      <div>
        <h2 class="inline-flex gap-3">
          <span>({{ collections['project'] | length }})</span>
          <span>Selected projects</span>
        </h2>
      </div>
      <div class="lg:col-start-4">
        <p class="inline-flex gap-3">
          <span>✶</span>
          <span>2016 — 2023</span>
        </p>
      </div>
    </div>
    <div class="lg:-mt-10 container lg:grid grid-cols-4 gap-10" style="container-type: inline-size;">
      <div class="col-start-2 col-span-3 grid grid-cols-1" data-projects>
        {% for item in collections['project'] | reverse %}
          <div class="py-5 lg:py-10 grid grid-cols-1 gap-5" data-project>
            <a class="relative block group lg:hover:opacity-50 lg:hover:pl-20 lg:transition-all lg:duration-300" href="{{ item.data.link }}" target="_blank" data-project-heading>
              <div class="w-[65%]">
                <h3 class="text-[7.5cqw] lg:text-[5.5cqw] leading-[1] -tracking-[0.3cqw]" data-project-heading-title>{{ item.data.shortTitle }}</h3>
                <div class="pt-3 flex flex-wrap gap-1 gap-x-2 text-[0.8em] leading-[1]">
                  {% for tags in[item.data.services, item.data.tech] %}
                    {% for tag in tags %}
                      <span class="border border-current rounded-full">{{ tag }}</span>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
              <div class="absolute top-0 right-0 w-[27%] lg:w-[29.5%] text-gray/50 text-[0.8em] leading-[1]">
                <p>/{{ item.data.date | dateToFormat('yyyy') }}</p>
                <p>{{ item.data.client }}</p>
                <p>({{ item.data.type }})</p>
              </div>
            </a>
            <div class="hidden" data-project-thumbnail>
              {% if item.data.thumbnail %}
                {% image 'projects/' + item.data.title | slug + '/thumbnail.png',
                item.data.title,
                '100vw' %}
              {% endif %}
            </div>
            <div class="hidden" data-project-link>
              <a href="{{ item.data.link }}" target="_blank">
                <span>www</span>
                <span>{{ item.data.link | cleanLink }}</span>
              </a>
            </div>
          </div>
          {% if not loop.last %}
            <div class="border-t" data-line></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}