{% if services %}
  <section id="services">
    <div class="container">
      <div class="border-t" data-section-line></div>
    </div>
    <div class="container grid grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10" data-section-heading>
      <div class="hidden lg:block">
        <p class="inline-flex gap-3">
          <span>ℹ</span>
          <span>Services</span>
        </p>
      </div>
      <div>
        <h2 class="inline-flex gap-3">
          <span>({{ servicesList | length }})</span>
          <span>Capabilities</span>
        </h2>
      </div>
      <div>
        <h2 class="inline-flex gap-3">
          <span>({{ toolsList | length }})</span>
          <span>Tools</span>
        </h2>
      </div>
      <div class="hidden lg:block">
        <h2 class="inline-flex gap-3">
          <span>({{ interestsList | length }})</span>
          <span>Interests</span>
        </h2>
      </div>
    </div>
    <div class="container grid grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10">
      <div class="lg:col-start-2">
        <ul>
          {% for item in servicesList %}
            <li class="flex gap-3">
              <span>↳</span>
              <span>{{ item }}</span>
            </li>
          {%endfor %}
        </ul>
      </div>
      <div>
        <ul>
          {% for item in toolsList %}
            <li class="flex gap-3">
              <span>↳</span>
              <span>{{ item }}</span>
            </li>
          {%endfor %}
        </ul>
      </div>
      <div class="hidden lg:block">
        <ul>
          {% for item in interestsList %}
            <li class="flex gap-3">
              <span>↳</span>
              <span>{{ item }}</span>
            </li>
          {%endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}