{% macro primary(params) %}
  <h3 class="font-bold">
    <span>{{params.number}}</span>
    <span>{{params.text}}</span>
  </h3>
{% endmacro %}
{% macro secondary(params) %}
  <h4 class="font-bold">
    <span>{{params.number}}</span>
    <span>{{params.text}}</span>
  </h4>
{% endmacro %}
{% macro tertiary(params) %}
  <h4>
    <span>{{params.number}}</span>
    <span>{{params.text}}</span>
  </h4>
{% endmacro %}