<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.author + ' — ' + title }}</title>
    {% include "common/_meta.njk" %}
    <link rel="stylesheet" href="{{ '/assets/tailwind.css' | url }}"/>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}"/>
  </head>
  <body class="bg-white text-black uppercase text-[16px] md:text-[24px]">

    <div hidden>{% svgsprite %}</div>
    {# {% include "common/loader.njk" %} #}

    {{ content | safe }}

    <script data-main="{{ '/assets/scripts/main.js' | url }}" src="{{ '/assets/scripts/vendors/require.js' | url | safe }}"></script>

  </body>
</html>