---
layout: base
---

{% block content %}

  {% include "common/header.njk" %}
  <main>
    {% include "about.njk" %}
    {% include "selected-projects.njk" %}
    {% include "services.njk" %}
    {% include "contact.njk" %}
  </main>
  {% include "common/footer.njk" %}

{% endblock %}