---
layout: base
---

{% block content %}
  {% import "components/title.njk" as tag %}
  <section class="md:mt-10 py-10 px-5" id="actions">
    <div class="container grid grid-cols-1 md:flex gap-5 md:gap-10">
      <div class="grid grid-cols-1 md:flex gap-5 items-center">
        <div class="flex">
          <a class="flex p-3 border" href="/">
            {% svg 'arrow-left', 'w-[1em] aspect-square' %}
          </a>
        </div>
        <div class="flex flex-wrap gap-x-2 md:gap-5 items-center">
          {% for item in services %}
            <span>{{item}}</span>
          {% endfor %} /
        {% for item in tech %}
            <span>{{item}}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="px-5 grid grid-cols-1 gap-5" id="project" data-project-page>
    <div class="container">
      <div class="flex gap-5 items-center">
        <div>
          <div class="w-10 aspect-square bg-stone-200"></div>
        </div>
        <h2 class="text-[1.5em] md:text-[2em]">{{ title }}</h2>
      </div>
    </div>
    <div class="container">
      {{ tag.primary({text: 'Description', icon: 'text-left'}) }}
      <p>{{ description | safe }}</p>
    </div>
    <div class="container">
      {{ tag.primary({text: 'Additional info', icon: 'info'}) }}
      <ul class="grid grid-cols-1 divide-y">
        <li class="py-5 flex gap-5">
          <strong>Type</strong>
          <span class="col-span-2">{{type}}</span>
        </li>
        <li class="py-5 flex gap-5">
          <strong>Client</strong>
          <span class="col-span-2">{{client}}</span>
        </li>
        <li class="py-5 flex gap-5">
          <strong>Agency</strong>
          <span class="col-span-2">{{agency}}</span>
        </li>
        <li class="py-5 flex gap-5">
          <strong>Year</strong>
          <span class="col-span-2">{{date | dateToFormat('yyyy')}}</span>
        </li>
        <li class="py-5 flex gap-5">
          <strong>Team</strong>
          <span class="flex gap-5">
            {% for item in team %}
              <span>{{item.name | abbrFirstName }}</span>
            {% endfor %}
          </span>
        </li>
      </ul>
    </div>
    <div class="container">
      {{ tag.primary({text: 'Images', icon: 'image'}) }}
      {% if thumbnail | length %}
        <div class="grid grid-cols-1 md:grid-cols-1 gap-5">
          {% for item in thumbnail %}
            <div class="flex items-center justify-center p-[50px] bg-stone-200">
              {% image 'projects/' + item,
              title,
              '100vw' %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
