---
title: "Sobre"
layout: "base"
permalink: "/sobre.html"
---

{% import "components/heading.njk" as heading %}
{% include "hero.njk" %}

<section class="py-10 grid grid-cols-1 gap-10" id="about">
  <div class="container">
    {{ heading.sectionPrimary({ text: 'Sobre mim' }) }}
  </div>
  <div class="container">
    <div class="grid grid-cols-1 gap-5">
      <p>
        Minha jornada como desenvolvedor front-end começou quando eu ainda estava na faculdade. Fiquei intrigado com a ideia de criar algo com o qual as pessoas pudessem interagir e se divertir, e os sites pareciam o meio perfeito. Comecei a aprender HTML e CSS por conta própria e logo me vi viciado.
      </p>
      <p>
        Desde então, aperfeiçoei minhas habilidades por meio de vários projetos e colaborações com outros designers e desenvolvedores. Trabalhei em tudo, desde páginas de destino simples até aplicativos da Web complexos, e sempre me esforcei para criar sites que não fossem apenas visualmente atraentes, mas também fáceis de usar e acessíveis.
      </p>
      <p>
        Tendo trabalhado tanto em design quanto em desenvolvimento web, adquiri um bom entendimento de diferentes pilhas de tecnologia e suas possibilidades. Isso me torna um defensor de designers e desenvolvedores, tentando encontrar soluções elegantes que sejam funcionais e visualmente agradáveis - mas sempre dentro das restrições técnicas. Sou um prototipador apaixonado, que se sente à vontade para criar algo testável no nível de fidelidade adequado para desafiar uma hipótese. Isso pode variar de um simples boneco de clique a um protótipo hi-fi totalmente interativo que se parece com a coisa real.
      </p>
    </div>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Status' }) }}
    <p>Disponível para trabalho a partir de Maio/23.</p>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Experiência' }) }}
    <ul class="grid grid-cols-1">
      {% for item in experience %}
        <li>
          <span>{{ item.role }} @ {{ item.agency }}</span>
          <span>({{ item.time }})</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Educação e honras' }) }}
    <ul class="grid grid-cols-1">
      {% for item in education %}
        <li>
          <span>{{ item.course }} @ {{ item.school }}</span>
          <span>({{ item.time }})</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Marcas que já trabalhei' }) }}
    <ul class="grid grid-cols-2 gap-x-10">
      {% for item in brands %}
        <li>{{ item.brand }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Mais' }) }}
    <div class="grid grid-cols-1">
      <a class="flex gap-3 items-center" href="/" target"_blank">
        <span>Baixar CV</span>
        {% svg 'arrow-right-up', 'w-[1em] aspect-square' %}
      </a>
      <a class="flex gap-3 items-center" href="/" target"_blank">
        <span>Visite LinkedIn</span>
        {% svg 'arrow-right-up', 'w-[1em] aspect-square' %}
      </a>
      <a class="flex gap-3 items-center" href="/" target"_blank">
        <span>Visite Read.CV</span>
        {% svg 'arrow-right-up', 'w-[1em] aspect-square' %}
      </a>
    </div>
  </div>
</section>