---
title: "About"
layout: "base"
permalink: "/about.html"
---

<section class="py-10" id="about">
  <div class="container">
    <h3 class="text-[4em]">About page</h3>
    <div class="grid grid-cols-3 gpa-10">
      <div class="grid grid-cols-1 gap-5 py-10">
        <p>
          I'm a digital designer and  web developer from Sao paulo-Brasil, passionated about creating artisan digital experiences with focus on motion and interaction. With 6+ years in the game he has worked with clients in a wide array of industries around the world.
        </p>
        <p>
          Since I've started working in Digital Design 15 years ago, I've become a well rounded designer who feels comfortable throughout the whole process of creating digital products from start to finish.
        </p>
        <p>
          Having worked both in design and web development, I have acquired a good understanding of different tech stacks and their possibilities. This makes me an advocate for both designers and developers, trying to find elegant solutions which are both functionally and visually pleasing - but are always within technical constraints.  Im a passionate prototyper, who feels comfortable creating something testable at the level of fidelity that is appropriate to challenge a hypothesis. This can range from a simple click-dummy to a fully interactive hifi prototype that looks and feels like the real thing.
        </p>
        <p>
          Being in good company is very important to me and I love to learn from my peers and share my experience with them. It inspires me to empower colleagues to unlock their creative potential, so I‘ll support them do so whenever I can.
        </p>
      </div>
    </div>
  </div>
</section>