---
title: "Works"
layout: "base"
permalink: "/index.html"
---

<section class="pb-5 md:py-10" id="hero">
  <div class="container pb-5">
    <p class="text-[0.7em] text-stone-600 font-bold uppercase">Local time</p>
    <p class="grid md:flex md:gap-3 text-[0.8em] text-stone-300">
      <span>
        <span data-local-time>00:00am</span>
        <span>GMT-3</span>
        <span class="hidden md:inline">—</span></span>
      <span>
        <span data-status class="status busy"></span>
        <span data-status-text>most likely watching TV right now.</span>
      </span>
    </p>
  </div>
  <div class="container">
    <h2 class="text-[2.5em] md:text-[3em] leading-none max-w-[880px]">
      I'm a Digital Designer & Web Developer with 6+ years of experience in building things for the web.
    </h2>
  </div>
</section>

<section class="py-10" id="projects">
  <div class="container">
    <h3 class="text-[0.7em] text-stone-600 font-bold uppercase pb-10 border-b border-white/10">
      Selected works
      <sup>{{ collections['projects']  | length}}</sup>
    </h3>
  </div>
  <div class="grid grid-cols-1 divide-y divide-white/10" data-projects-wrapper>
    {% for project in collections['projects'] | reverse %}
      <a class="container" href="{{ project.url }}" data-hover="eye">
        <div class="py-5 md:py-10 flex flex-wrap md:flex-nowrap gap-x-2 md:gap-10 items-center md:justify-between">
          <div class="w-[100%] md:w-[40%]">
            <h3 class="text-[2em] truncate">{{ project.data.title }}</h3>
          </div>
          <div class="text-stone-400 md:w-[15%]">
            <span>{{ project.data.client }}</span>
          </div>
          <div class="text-stone-400 md:w-[5%]">
            <span class="inline md:hidden">/</span>
            <span>{{ project.data.date | dateToFormat('yyyy') }}</span>
          </div>
          <div class="md:pt-0 md:w-[25%]">
            <div class="flex gap-2 md:gap-3 justify-end">
              {% for item in project.data.services %}
                <span class="p-2 md:px-4 bg-white/10 rounded-full text-[0.5em] md:text-[0.6em] uppercase text-stone-500 font-bold">{{ item }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>