---
title: "Projetos"
layout: "base"
permalink: "/index.html"
---

{% import "components/heading.njk" as heading %}

{% include "hero.njk" %}

<section class="py-10" id="projects">
  <div class="container">
    {{ heading.sectionPrimary({ text: 'Projetos selecionados' }) }}
  </div>
  <div class="grid grid-cols-1 divide-y" data-projects>
    {% for item in collections['project'] | reverse %}
      <div class="container" data-project>
        <div class="py-10 flex gap-5 md:gap-10 items-center justify-between cursor-pointer" data-project-title>
          <div class="flex gap-5 md:gap-10 items-center">
            {% if item.data.thumbnail | length %}
              <div>
                {% image 'projects/' + item.data.title | slug + '/' + item.data.thumbnail[0],
                item.data.title,
                '100vw', 'w-[50px] md:w-[130px]' %}
              </div>
            {% else %}
              <div class="w-[50px] h-[30px] md:w-[130px] md:h-[76px] bg-stone-500"  style="background-color: {{ item.data.color }}"></div>
            {% endif %}
            <div>({{ item.data.date | dateToFormat('yy') }})</div>
            <div>{{ item.data.title }}</div>
          </div>
          <div class="hidden md:block">{{ item.data.client }}</div>
        </div>
        <div class="z-10 fixed md:absolute top-[20px] md:top-0 left-[20px] md:left-[20px] p-5 w-[calc(100vw-40px)] md:w-[280px] h-[calc(100vh-40px)] md:h-auto hidden border-t-[10px] bg-stone-200 shadow-xl text-black" style="border-color: {{ item.data.color }}" data-project-content>
          <div class="absolute top-3 right-3 w-5 aspect-square rounded-full bg-black"></div>
          <div class="h-full flex flex-col gap-5 justify-between">
            <div class="flex flex-col gap-5">
              <div class="flex flex-wrap gap-1 items-center">
                {% for item in item.data.services %}
                  <span class="p-1 px-2 rounded-full border border-current text-[0.8em]">{{ item }}</span>
                {% endfor %}
              </div>
              <div class="md:hidden">
                <div>{{ item.data.title }}</div>
                <div>{{ item.data.date | dateToFormat('yyyy') }}</div>
                <div>{{ item.data.client }}</div>
              </div>
              <div>
                <ul class="grid grid-cols-1 divide-y divide-black/10 md:text-[0.8em]">
                  <li class="py-1 before:block before:text-[0.5em] before:content-['HTTP:']">
                    <a class="flex gap-3 items-center" href="{{ item.data.link }}" target="_blank">
                      <span class="{{ 'line-through' if not item.data.available }}">{{ item.data.link | cleanLink }}</span>
                      {% svg 'arrow-right-up', 'w-[1em] aspect-square' %}
                    </a>
                  </li>
                  <li class="py-1 before:block before:text-[0.5em] before:content-['Tipo:']">{{ item.data.type }}</li>
                  <li class="py-1 before:block before:text-[0.5em] before:content-['Agência:']">{{ item.data.agency }}</li>
                  {% if item.data.team | length %}
                    <li class="py-1 before:block before:text-[0.5em] before:content-['Time:']">
                      {% for item in item.data.team %}
                        <span>
                          <span>{{ item.name | abbrFirstName }}</span>
                          <span class="text-stone-500">({{ item.position}})</span>
                        </span>
                      {% endfor %}
                    </li>
                  {% endif %}
                </ul>
              </div>
              <div class="grid grid-cols-2 gap-5 md:hidden">
                {% if item.data.thumbnail | length %}
                  {% for thumbnail in item.data.thumbnail %}
                    {% image 'projects/' + item.data.title | slug + '/' + thumbnail,
                    item.data.title,
                    '100vw' %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div>
              <button class="w-full p-3 border border-current flex gap-3 items-center justify-center" data-action="project-close">
                <span>Fechar</span>
                {% svg 'cancel', 'w-[1em] aspect-square' %}
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>