::-webkit-scrollbar {
    display: none;
  }
  html {
    scroll-behavior: initial;
    overflow-x: hidden;
    text-rendering: geometricprecision;
    font-smoothing: antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  [disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
  button {
    text-transform: inherit;
  }
   