@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply font-ibm bg-zinc-50 text-xs text-zinc-800 dark:bg-zinc-950 dark:text-zinc-300;
  }
  header,
  footer,
  section {
    @apply grid gap-5 px-10 py-10 max-[320px]:px-5;
  }
  h1,
  h3 {
    @apply pb-5 !font-bold uppercase;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
