--- 
import { Icon } from 'astro-icon/components';
--- 

<footer class="pt-[20vh]">
  <div class="container">
    <div class="border-t flex gap-10 pt-10 justify-between items-center">
      <p>© 2026  All rights reserved.</p>
      <a href="#" class="flex gap-1 items-center">
        <span>Go back to top</span>
        <Icon name="chevron-up" /> 
      </a>
    </div>
  </div>
  <div class="container pt-[20vh]">
    <div class="text-[25.5em] leading-[1em] tracking-tighter uppercase -ml-7">IHC©2026</div>
  </div>
</footer>
