---
import { Icon } from 'astro-icon/components';
--- 

<section>
  <div class="container">
    <div class="pt-[20vh] text-[3.5em] leading-[1.1em] text-justify px-20">
      I'm a <strong>multidisciplinary developer</strong> specialized in front-end, currently working @ <u>Veste S/A</u> with +8 years of experience creating visually appealing and high-performance websites and digital experiences that connect design, emotion and technology <Icon name="sparkle" class="inline-block" />
    </div> 
  </div>
</section
