<section class="mt-10 py-10 grid grid-cols-1 gap-10 bg-stone-300/50">
  <div class="container">
    <ul class="grid grid-cols-1 gap-5 md:gap-10">
      {% for item in social %}
        <li>
          <a class="flex justify-between" href="#" target="_blank">
            <span>{{ item.text }}</span>
            <span>{{ item.user }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container grid grid-cols-1 md:grid-cols-4 gap-5 md:gap-10">
    <div>
      <div>
        <span>Last listened</span>
        <p>Stamp on it - GOT the beat</p>
      </div>
    </div>
    <div>
      <div>
        <span>Last read</span>
        <p>Sociedade do cansaço</p>
      </div>
    </div>
    <div>
      <div>
        <span>Last watched</span>
        <p>Velma (2023)</p>
      </div>
    </div>
  </div>
</section>