{% import "components/heading.njk" as heading %}

<section class="min-h-[calc(100vh-220px)] py-10 grid grid-cols-1 gap-10" id="contact">
  <div class="container">
    {{ heading.sectionPrimary({ text: 'Contato' }) }}
  </div>
  <div class="container">
    <div>Vamos trabalhar juntos</div>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Redes sociais' }) }}
    <div class="grid grid-cols-1 gap-5">
      {% for item in social %}
        <a href="{{ item.link }}" target="_blank">
          <span>{{ item.text }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</section>