{% import "components/heading.njk" as heading %}

<section class="md:min-h-[calc(100vh-220px)] py-10 grid grid-cols-1 gap-10" id="contact">
  <div class="container">
    {{ heading.sectionPrimary({ text: 'Contato' }) }}
  </div>
  <div class="container" style="container-type: inline-size;">
    <div class="text-center md:text-right text-[13cqw] md:text-[8cqw] leading-[1]" role="textbox" aria-label="">
      <div>Diga_oi</div>
      <div>↳<a class="underline" href="mailto:oi@ivana.co">oi@ivana.co</a>
      </div>
    </div>
  </div>
  <div class="container">
    {{ heading.sectionSecondary({ text: 'Redes sociais' }) }}
    <div class="flex flex-col md:flex-row md:gap-x-5 md:items-center justify-between divide-y md:divide-y-0">
      {% for item in social %}
        <a class="p-3 py-5" href="{{ item.link }}" target="_blank">
          <span>{{ item.iconText }}{{ item.text }}</span>
        </a>
        {{ '<span class="hidden md:block">/</span>' | safe if not loop.last }}
      {% endfor %}
    </div>
  </div>
</section>