<div class="pointer-events-none fixed z-[3] top-1/2 left-1/2 w-2 aspect-square -translate-x-1/2 -translate-y-1/2 rounded-full hidden lg:block bg-red [&.active]:w-0" data-cursor-pointer></div>
<div class="pointer-events-none fixed z-[3] top-1/2 left-1/2 w-10 aspect-square -translate-x-1/2 -translate-y-1/2 rounded-full hidden lg:flex items-center justify-center text-[0em] bg-red/10  [&.active]:scale-[2] [&.active]:bg-red/30 [&.project]:!bg-red [&.active]:text-[1em]" data-cursor-trail>
  <span data-cursor-text></span>
</div>