{% if footer %}
  <footer id="footer">
    <div class="container">
      <div class="border-t" data-section-line></div>
    </div>
    <div class="container grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div>
        <a class="inline-flex gap-3" href="{{ '#about' | url }}" data-link-anchor>
          <span>↗</span>
          <span>Go back to top</span>
        </a>
      </div>
      <div class="flex gap-5 items-start">
        <p class="lg:inline-flex gap-3">
          <span>©</span>
          <span>{{ site.buildTime | dateToFormat('yyyy') }}</span>
          <span>{{ site.author }}</span>
          <span>All rights reserved.</span>
        </p>
        <button class="inline-flex gap-3" data-action="credits-open" data-link-internal>
          <span>+</span>
          <span>Credits</span>
        </button>
      </div>
    </div>
  </footer>

  {% include "credits.njk" %}
{% endif %}