<header class="py-5 pb-10 md:py-10" id="header">
  <div class="container flex gap-10 items-center justify-between">
    <h1 class="font-bold">
      <a href="{{ '/' | url }}">
        <span>© Ivana Costa</span>
      </a>
    </h1>
    <div>
      <a class="flex gap-5 items-center" href="#contact">
        <span class="hidden md:block border-r border-white/10 pr-5">Available for work</span>
        <span class="hidden md:block text-stone-500">Get in touch</span>
        {% svg 'paper-airplane', 'w-[1em] aspect-square box-content p-3 md:p-6 rounded-full bg-[#101010] border border-white/10 text-white' %}
      </a>
    </div>
  </div>
</header>