<section class="px-5 grid grid-cols-1 gap-5" id="hero">
  <div class="container">
    <h2 class="text-[1.5em] md:text-[2em]">
      Ivana H. Costa is a digital designer and Web Developer (front-end specialized) based in São Paulo, Brasil with 6+ years of experince in building things for the web.
    </h2>
  </div>
  <div class="container">
    <p>
      Currently available for work.
      <a class="underline" href="#contact">Get in touch</a>.
    </p>
  </div>
</section>
