<div class="z-[2] absolute top-0 left-0 w-full h-[5px] bg-red" data-loader-progress></div>

<section class="z-[2] fixed top-0 left-0 w-full h-screen bg-red text-black" id="loader" data-loader-curtain>
  <div class="flex items-center justify-center overflow-hidden">
    <p class="overflow-hidden flex gap-3" data-loader-curtain-text>
      <span>Ivana H. Costa</span>
      <span class="opacity-10">|</span>
      <span>Front—end Developer</span>
    </p>
  </div>
</section>