<section class="z-10 fixed bottom-10 left-1/2 -translate-x-1/2 leading-none">
  <nav class="relative p-2 rounded-full flex gap-3 bg-[#101010] border border-white/10 shadow-md ">
    {% for item in menu %}
      <a class="p-5 rounded-full flex gap-2 items-center  [&.active]:bg-[#fafafa] [&.active]:text-black" href="{{ item.link | url}}">
        <span class="flex items-center">{{ item.text | safe }}</span>
      </a>
    {% endfor %}
  </nav>
</section>