@font-face {
  font-family: 'Cabinet Grotesk Regular';
  font-display: block;
  src: local('Cabinet Grotesk Regular'), url('../fonts/cabinet/CabinetGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Circular Book';
  font-display: block;
  src: local('Circular Book'), url('../fonts/circular/CircularStd-Book.otf') format('opentype');
}
