@import 'vendors/lenis.css';
@import 'common/fonts.css';
@import 'components/animations.css';
@import 'components/cursor.css';
@import 'components/imageEffect.css';

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: initial;
  overflow-x: hidden;
}

[disabled] {
  opacity: 0.3;
  pointer-events: none;
}
