@import '_animations.css';
@import 'components/cursor.css';
@import 'components/projects.css';
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: initial;
  overflow-x: hidden;
}
html.touch *:hover {
  all: unset !important;
}

[disabled] {
  opacity: 0.33;
  pointer-events: none;
}
