<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ivana Costa – Multidisciplinary Developer</title>
    	<meta name="description" content="Ivana Costa is a multidisciplinary developer specialized in front-end engineering based in São Paulo, Brazil. With over eight years of experience, she creates visually engaging, high-performance websites that connect design, emotion, and technology."/>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-D61CZSLM4L"></script>        
		<script type="application/javascript">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-D61CZSLM4L');
		</script>
		
	</head>
	<body>
		<slot />
	</body>
</html>